<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	<title>{{ title }}</title>
	<script src="/static/js/holder.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        	<span class="sr-only">Toggle navigation</span>
			       		<span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand" href="#">Node Blog</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Publish</a></li>
			        <li><a href="#">Link</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			          </ul>
			        </li>
			      </ul>
			      <form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			      </form>
			      <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sing in</a>
						<ul class="dropdown-menu" role="menu">
			          	<div class="form-group">
			          		<form action="/sign-in" method="post">
				            	<label for="username">Usuario</label>
				            	<input type="text" class="form-control" name="username">
				            	<label for="password">Contraseña</label>
				            	<input type="password" class="form-control" name="password">
				            	<input type="submit" class="btn btn-primary" value="Entrar">
				            </form>
			          	</div>
			          </ul>
			        </li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <span class="glyphicon glyphicon-user"></span></a>
			          <ul class="dropdown-menu" role="menu">
			          	<div class="form-group">
			          		<form action="/sign-up" method="post">
				            	<label for="username">Usuario</label>
				            	<input type="text" class="form-control" name="username">
				            	<label for="password">Contraseña</label>
				            	<input type="password" class="form-control" name="password">
				            	<label for="nickname">Nickname</label>
				            	<input type="text" class="form-control" name="nickname">
				            	<input type="submit" class="btn btn-primary" value="registrate">
				            </form>
			          	</div>
			          </ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			</div>
		</nav>
		<div class="row">
			<div class="col-sm-6">
				{% for post in posts %}
					{% if loop.index % 2 %}
					{% endif %}
				{% endfor %}
				<article>
					<div class="thumbnail">
						<img data-src="holder.js/100%x180" />
						<h1>Article One</h1>
						<h5>18/09/2014 22:06:51</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, id quia quos error blanditiis at. Laudantium officia, explicabo tempora tempore laboriosam minima est fugit. Minima aliquam, error sapiente quidem impedit!</p>
					</div>
				</article>
				<article>
					<div class="thumbnail">
						<img data-src="holder.js/100%x180" />
						<h1>Article Four</h1>
						<h5>18/09/2014 22:07:12</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, id quia quos error blanditiis at. Laudantium officia, explicabo tempora tempore laboriosam minima est fugit. Minima aliquam, error sapiente quidem impedit!</p>
					</div>
				</article>
			</div>
			<div class="col-sm-6">
				<article>
					<div class="thumbnail">
						<img data-src="holder.js/100%x180" />
						<h1>Article Two</h1>
						<h5>18/09/2014 22:07:22</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, id quia quos error blanditiis at. Laudantium officia, explicabo tempora tempore laboriosam minima est fugit. Minima aliquam, error sapiente quidem impedit!</p>
					</div>
				</article>
				<article>
					<div class="thumbnail">
						<img data-src="holder.js/100%x180" />
						<h1>Article Three</h1>
						<h5>18/09/2014 22:07:31</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, id quia quos error blanditiis at. Laudantium officia, explicabo tempora tempore laboriosam minima est fugit. Minima aliquam, error sapiente quidem impedit!</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</body>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</html>